.login {
  display: flex;
  justify-content: flex-end;
}

.loginButton {
  background: none;
  border: none;
  border-radius: 0.75rem;
  color: rgb(195, 195, 195);
  font-size: 1.5rem;
  margin: 0.25rem 0.25rem 0 1rem;
  padding: 0.25rem;
}

.loginButton:hover {
   background: none;
   font-weight: bold;
   text-decoration: underline black;
}
