.login {
  display: flex;
  justify-content: flex-end;
}

.loginButton {
  background: none;
  border: none;
  border-radius: 0.75rem;
  color: rgb(200, 200, 200);
  font-size: 1.5rem;
  margin: 0.25rem 0.25rem 0 0;
  padding: 0.25rem;
}

.loginButton:hover {
   background: none;
   box-shadow: 0.25rem 0.25rem 0.25rem black;
   text-decoration: underline white;
}
