button {
   background: none;
   border: none;
   color: rgb(195, 195, 195);
   font-size: 1.5rem;
   /* font-weight: bold; */
}


button:hover {
   font-weight: bold;
}

main {
   align-items: center;
   box-shadow: 0.15rem 0.15rem 0.15rem 0.15rem black;
   display: flex;
   flex-direction: column;
   height: 500px;
   justify-content: center;
   margin: 0 25%;
   position: fixed;
   width: 500px;
}

fieldset {
   border: none;
   display: flex;
   flex-direction: column;
   justify-content: center;
   position: fixed;
}

h1 {
   font-size: 4rem;
}

.inputField {
   background: none;
   border: none;
   border-radius: 5px;
   box-shadow: 0.15rem 0.15rem 0.15rem black;
   color: white;
   font-weight: bold;
   margin-top: 1.5rem;
}

.inputField:hover {
   background: black;
}

label {
   font-size: 1.5rem;
   padding-top: 1rem;
}

.submit {
   background: none;
   /* border: 1px solid whitesmoke; */
   border: none;
   color: whitesmoke;
   cursor: pointer;
   font-size: 1.25rem;
   margin-top: 2rem;
   padding: 0.25rem;
}

.submit:hover {
   font-weight: bold;
   background: black;
}

.register {
   align-self: flex-end;
   font-size: 1.25rem;
   margin-right: 0.25rem;
}

.register:hover {
   align-self: flex-end;
   background: black;
   font-size: 1.25rem;
   font-weight: bold;
}
