main {
   align-items: center;
   box-shadow: 0.15rem 0.15rem 0.15rem 0.15rem black;
   display: flex;
   flex-direction: column;
   height: 550px;
   justify-content: flex-start;
   width: 500px;
}

fieldset {
   border: none;
   display: flex;
   flex-direction: column;
   justify-content: center;
   position: fixed;
}

h1 {
   font-size: 4rem;
}

.inputField {
   background: none;
   border: none;
   border-radius: 5px;
   box-shadow: 0.15rem 0.15rem 0.15rem black;
   color: white;
   font-weight: bold;
   margin-top: 1.5rem;
}

.inputField:hover {
   background: black;
}

label {
   font-size: 1.5rem;
   padding-top: 1rem;
}

.register {
   align-self: flex-end;
   background: none;
   border: none;
   color: rgb(195, 195, 195);
   font-size: 1.15rem;
   font-weight: bold;
   margin-right: 0.25rem;
}

.register:hover {
   background: black;
   font-size: 1.25rem;
}

.spinner {
  margin-bottom: 4rem;
}

.submit {
   background: none;
   border: none;
   box-shadow: 0.05rem 0.05rem 0.05rem 0.05rem black;
   color: whitesmoke;
   cursor: pointer;
   font-size: 1.25rem;
   margin-top: 2rem;
   padding: 0.25rem;
}

.submit:hover {
  background: black;
  font-weight: bold;
}

::placeholder {
    color: rgb(195, 195, 195);
    opacity: 1;
}
