body {
   background: linear-gradient(90deg, rgba(18,10,16,1) 0%, rgba(138,12,113,1) 27%, rgba(59,175,195,1) 72%, rgba(8,52,70,1) 100%);
   font-family: 'Ubuntu Mono', 'Inconsolata', monospace;
}

button {
   cursor: pointer;
   font-family: 'Ubuntu Mono', 'Inconsolata', monospace;
}
